- content_for(:title) { "Pesquisas - %s" }

%form{:url => surveys_url, :method => :get, :class => :search}
  %input{:type => :text, :name => :q, :value => params[:q]}
  %input{:type => :submit, :value => 'Procurar'}

%h1 Pesquisas

%table.surveys
  = render @surveys
  - if @surveys.empty?
    %tr
      %td.empty
        Nenhuma pesquisa disponível.
%br
